<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles-admin.css">
    <title>Manage Users</title>
</head>

<body>
    <header>
        <div class="dash-header">
            <a href="/dashboard/admin">Dashboard</a>
    
            <h1>Welcome Administrator, .....
                <!----this is where the user name goes-->
            </h1>
    
            <a href="/login">Logout</a>
        </div>
    </header>

    <table>
        <tr>
            <th>User Name</th>
            <th>Employee Name</th>
            <th>Commision</th>
            <th>Address</th>
            <th>Role</th>
        </tr>
    <% emp.forEach(function(field){ %>
        <tr>
            <td><%= field.user_name %></td>
            <td><%= field.employee_name %></td>
            <td><%= field.commision %></td>
            <td><%= field.address %></td>
            <td><%= field.role %></td>
            <td><a href="./"><button type="button">Edit</button></a></td>
        </tr>
    <% }) %>
        <br>
    </table>

    <header>
        <div class="dash-header">
            <a href="./create_employee">Create</a>
        </div>
    </header>

    <footer>    	
        <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
    </footer> 
</body>
</html>
