<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles-admin.css">
    <title>Manage Users</title>

</head>

<body>
    <header>
        <div class="dash-header">
            <a href="/dashboard/admin">Dashboard</a>
    
            <h1>Welcome Administrator, .....
                <!----this is where the user name goes-->
            </h1>
    
            <a href="/login">Logout</a>
        </div>
    
        </header>

        <% emp.forEach(function(field){ %>
            <li>
            <%= field.user_name %>
            <%= field.employee_name %>
            <%= field.commision %>
            <%= field.address %>
            <%= field.role %>
          <% }) %>
        </li>

        <footer>    	
            <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
        </footer> 
    </body>

    </html>