<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles-admin.css">
    <title>Review Quotes</title>
   
</head>

<body>
    <header>
        <div class="dash-header">
            <a href="/dashboard/admin">Dashboard</a>

            <h1>Welcome Administrator, .....
                <!----this is where the user name goes-->
            </h1>

            <a href="/login">Logout</a>
        </div>
    </header>

    
    <form action="/api/quotes/review" method="post">
        <label>Search by date from:
            <input type="date" name="start_date" min="" max="">
        </label>
        <label>to
            <input type="date" name="end_date" min="" max="">
        </label>

        <label>Search by Quote Status
            <div class="select">            
                <select name="status" id="status">
                    <option value="">All</option>
                    <option value="finalized">Finalized</option>
                    <option value="sanctioned">Sanctioned</option>
                    <option value="ordered">Ordered</option>
                </select>
            </div>
        </label>

        <label>Search by Associate
            <div class="select">
                <select name="user_name" id="associate">
                    <option value="" aria-placeholder="Select Associate">Select Associate</option>
                    <% emp.forEach(function(field) { %>
                        <option value=<%= field.user_name %>><%= field.user_name %></option>
                    <% }) %>
                </select>
            </div>
        </label>

        <label>Search by Customer
            <div class="select">
                <select name="customer" id="customer">
                    <option value="">Select Customer</option>
                    <% cust.forEach(function(field){ %>
                        <option value=customer><%= field.name %></option>
                    <% }) %>
                </select>
            </div>
        </label>

        <div class="search-customer">
            <button id="icon" type="submit"><i class="fa fa-search fa-2x"></i></button> 
        </div>       
    </form>


        <table id= "employee_table" 
           class= "table table-bordered table-striped"
           style= "width:100%">
        <thread>
        <tr>
            <th>User Name</th>
            <th>Employee Name</th>
            <th>Commision</th>
            <th>Address</th>
            <th>Role</th>
            <th>Edit Employee</th>
        </tr>
        </thread>
        <tbody>
    <% qte.forEach(function(field){ %>
        <tr>
            <td><%= field.user_name %></td>
            <td><%= field.status %></td>
            <td><%= field.customer %></td>
            <td><%= field.cust_email %></td>
            <td><%= field.line_items %></td>
            <td><%= field.price %></td>
            <td><%= field.discount %></td>
            <td><%= field.secret %></td>
            <td><%= field.createdAt %></td>
            <!-- <td><%= field.updatedAt %></td> -->
            <!-- <td><a href="./edit_employee/<%=field.user_name%>"><button type="button">Edit</button></a></td> -->
        </tr>
    <% }) %>
        </tbody>
        <br>
    </table>

    <footer>    	
        <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
    </footer> 
</body>
</html>
