<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/styles-manager.css"> -->
    <title>Sanction Quotes</title>
    
</head>

<body>
  
    <header>
        <div class="dash-header">
            <a href="/dashboard/manager">Dashboard</a>
    
            <h1>Welcome Sales Manager, <%= employee_name %>
                <!----this is where the user name goes-->
            </h1>
    
            <a href="/login">Logout</a>
        </div>
    
        </header>

    <table id="quote_table" class="table table-bordered table-striped" style="width:100%;">
        <thread>
            <tr>
                <th>Quote Id</th>
                <th>Employee Name</th>
                <th>Status</th>
                <th>Total</th>
                <th>Customer</th>
                <th>Customer Email</th>
                <th>Edit Quote</th>
            </tr>
        </thread>
        <tbody>
            <% qte.forEach(function(field){ %>
                <tr>
                    <td>
                        <%= field.id %>
                    </td>
                    <td>
                        <%= field.user_name %>
                    </td>
                    <td>
                        <%= field.status %>
                    </td>
                    <td>
                        <%= field.total %>
                    </td>
                    <td>
                        <%= field.customer %>
                    </td>
                    <td>
                        <%= field.cust_email %>
                    </td>
                    <td><a href="./update_quote/<%= field.id %>"><button type="button">Update</button></a></td>
                    <td><a href="/api/quotes/sanction/<%=field.id%>"><button type="button">Sanction Quote</button></a></td>
                </tr>
                <% }) %>
        </tbody>
        <br>
    </table>



        <footer>    	
            <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
        </footer> 
    </body>
    
    </html>