<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/styles-sales.css"> -->
    <title>Finalize Quote</title>
</head>

<body>
    <header>
        <div class="dash-header">
            <a href="/dashboard/sales">Dashboard</a>
            <h1>Welcome Sales Associate, <%= employee_name %> 
                <!----this is where the user name goes-->
                Your Commission: $ <%= commission %> 
            </h1>
            <a href="/login">Logout</a>
        </div>
        </header>

    <table id= "quote_table" 
           class= "table table-bordered table-striped"
           style= "width:100%; background-color: orange"
           >
        <thread>
        <tr>
            <th>Quote Id</th>
            <th>Employee Name</th>
            <th>Status</th>
            <th>Total</th>
            <th>Customer</th>
            <th>Customer Email</th>
            <th>Edit Quote</th>
            <th>Finalize Quote</th>
        </tr>
        </thread>
        <tbody>
    <% qte.forEach(function(field){ %>
        <tr>
            <td><%= field.id %></td>
            <td><%= field.user_name %></td>
            <td><%= field.status %></td>
            <td><%= field.total %></td>
            <td><%= field.customer %></td>
            <td><%= field.cust_email %></td>
            <td><a href="./edit_quote/<%=field.id%>"><button type="button">Edit</button></a></td>
            <td><a href="/api/quotes/finalize/<%=field.id%>"><button type="button" >Finalize Quote</button></a></td>
        </tr>
    <% }) %>
        </tbody>
        <br>
    </table>


        
</body>
        <footer>    	
            <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
        </footer> 

<script>
    

</script>

</html>